.button{
  background: transparent;
  border: solid 1px #f6705a;
  border-radius: 20px;
  color: #fff;
  height: 35px;
  width: 180px;
  font-size: 15px;
  transition: 0.2s;
  &:hover{
    background: rgba(246, 112, 90, 0.53);
    color: #000;
  }
}

.button-entrance{
  background: transparent;
  border: transparent;
  margin-left: 20px;
  color: #fff;
  &:hover{
    color: #5a5a5a;
  }
}